<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Font -->
  <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
  <!-- Styles -->
  <link rel="stylesheet" href="/styles.css">
  <!-- Title -->
  <title>Maquetación principal</title>
</head>
<body>
<!-- Heander -->
<header class="header">
  <a href="../index.html">
    <img class="header__img" src="/assets/images/logo-platzi-video-BW2.png" alt="logo">
  </a>
  <div class="header__menu">
    <div class="header__menu--profile">
      <img src="/assets/images/user-icon.png" alt="User">
      <p>Perfil</p>
    </div>
    <ul>
      <li><a href="/">Cuenta</a></li>
      <li><a href="/">Cerrar Sesión</a></li>
    </ul>
  </div>
</header>
<!-- End Heander -->

<section class="box">
  <div class="text animated pulse">
    <p>404</p>
  </div>
  <p class="text">Página no encontrada</p>
</section>

<!-- Footer -->
<footer class="footer">
  <a href="/components/error404.html">Terminos de uso</a>
  <a href="/components/error404.html">Declaración de privacidad</a>
  <a href="/components/error404.html">Centro de ayuda</a>
</footer>
<!-- End Footer -->

</body>
</html>